# Database - EasyPanel PostgreSQL
DATABASE_URL=postgresql://usuario:senha@localhost:5432/californiastore

# NextAuth
NEXTAUTH_URL=https://seu-dominio.com.br
NEXTAUTH_SECRET=coloque-uma-chave-segura-de-32-caracteres-aqui

# App
NODE_ENV=production
APP_URL=https://seu-dominio.com.br