-- CreateEnum
CREATE TYPE "Plan" AS ENUM ('FREE', 'BASIC', 'PRO', 'ENTERPRISE');

-- CreateEnum
CREATE TYPE "TenantStatus" AS ENUM ('ACTIVE', 'SUSPENDED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'MANAGER', 'USER');

-- CreateEnum
CREATE TYPE "Genero" AS ENUM ('MASCULINO', 'FEMININO', 'UNISSEX', 'INFANTIL');

-- CreateEnum
CREATE TYPE "TipoMovimentacao" AS ENUM ('ENTRADA', 'SAIDA', 'AJUSTE', 'DEVOLUCAO');

-- CreateEnum
CREATE TYPE "FormaPagamento" AS ENUM ('DINHEIRO', 'DEBITO', 'CREDITO', 'PIX', 'BOLETO', 'CREDITO_LOJA');

-- CreateEnum
CREATE TYPE "StatusVenda" AS ENUM ('CONCLUIDA', 'CANCELADA', 'DEVOLVIDA');

-- CreateEnum
CREATE TYPE "CaixaStatus" AS ENUM ('ABERTO', 'FECHADO');

-- CreateEnum
CREATE TYPE "CaixaMovimentoTipo" AS ENUM ('ABERTURA', 'VENDA', 'SANGRIA', 'SUPRIMENTO');

-- CreateEnum
CREATE TYPE "StatusVendaCondicional" AS ENUM ('ATIVA', 'FINALIZADA', 'CANCELADA');

-- CreateEnum
CREATE TYPE "StatusItemCondicional" AS ENUM ('COMPRADO', 'DEVOLVIDO');

-- CreateEnum
CREATE TYPE "StatusConta" AS ENUM ('PENDENTE', 'PAGO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "CategoriaContaPagar" AS ENUM ('ALUGUEL', 'AGUA', 'LUZ', 'TELEFONE', 'INTERNET', 'FORNECEDOR', 'IMPOSTO', 'SALARIO', 'PROLABORE', 'OUTRO');

-- CreateEnum
CREATE TYPE "CategoriaContaReceber" AS ENUM ('VENDA', 'CLIENTE', 'SERVICO', 'INVESTIMENTO', 'OUTRO');

-- CreateEnum
CREATE TYPE "TipoMovimentacaoCaixa" AS ENUM ('ENTRADA', 'SAIDA');

-- CreateTable
CREATE TABLE "tenants" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "logo" TEXT,
    "plan" "Plan" NOT NULL DEFAULT 'FREE',
    "status" "TenantStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'USER',
    "avatar" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categorias" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "categorias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produtos" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "codigoInterno" TEXT,
    "codigoFornecedor" TEXT,
    "marca" TEXT,
    "genero" "Genero",
    "precoVenda" DECIMAL(10,2) NOT NULL,
    "precoCusto" DECIMAL(10,2),
    "fotoUrl" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "categoriaId" TEXT,
    "fornecedorId" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "produtos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produto_variantes" (
    "id" TEXT NOT NULL,
    "produtoId" TEXT NOT NULL,
    "cor" TEXT,
    "tamanho" TEXT,
    "codigoBarras" TEXT NOT NULL,
    "codigoInterno" TEXT,
    "codigoFornecedor" TEXT,
    "precoVenda" DECIMAL(10,2),
    "qtdEstoque" INTEGER NOT NULL DEFAULT 0,
    "qtdDisponivel" INTEGER NOT NULL DEFAULT 0,
    "qtdCondicional" INTEGER NOT NULL DEFAULT 0,
    "estoqueMinimo" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "produto_variantes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimentacoes_estoque" (
    "id" TEXT NOT NULL,
    "varianteId" TEXT NOT NULL,
    "tipo" "TipoMovimentacao" NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "observacao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimentacoes_estoque_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "clientes" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cpf" TEXT,
    "telefone" TEXT,
    "email" TEXT,
    "dataNascimento" TIMESTAMP(3),
    "endereco" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "cep" TEXT,
    "creditoAtual" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "observacoes" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "clientes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fornecedores" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cnpj" TEXT,
    "telefone" TEXT,
    "email" TEXT,
    "endereco" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "cep" TEXT,
    "observacoes" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "fornecedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "funcionarios" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cpf" TEXT NOT NULL,
    "telefone" TEXT,
    "email" TEXT,
    "cargo" TEXT,
    "salario" DECIMAL(10,2),
    "dataAdmissao" TIMESTAMP(3) NOT NULL,
    "dataDemissao" TIMESTAMP(3),
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "funcionarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vendas" (
    "id" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "clienteId" TEXT,
    "vendedorId" TEXT NOT NULL,
    "subtotal" DECIMAL(10,2) NOT NULL,
    "desconto" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "total" DECIMAL(10,2) NOT NULL,
    "formaPagamento" "FormaPagamento" NOT NULL,
    "status" "StatusVenda" NOT NULL DEFAULT 'CONCLUIDA',
    "observacoes" TEXT,
    "caixaId" TEXT,
    "origemCondicionalId" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "vendas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "venda_itens" (
    "id" TEXT NOT NULL,
    "vendaId" TEXT NOT NULL,
    "varianteId" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "qtdDevolvida" INTEGER NOT NULL DEFAULT 0,
    "precoUnit" DECIMAL(10,2) NOT NULL,
    "subtotal" DECIMAL(10,2) NOT NULL,

    CONSTRAINT "venda_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "venda_pagamentos" (
    "id" TEXT NOT NULL,
    "vendaId" TEXT NOT NULL,
    "formaPagamento" "FormaPagamento" NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,

    CONSTRAINT "venda_pagamentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "caixas" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "dataAbertura" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataFechamento" TIMESTAMP(3),
    "saldoInicial" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "saldoFinal" DECIMAL(10,2),
    "saldoReal" DECIMAL(10,2),
    "diferenca" DECIMAL(10,2),
    "status" "CaixaStatus" NOT NULL DEFAULT 'ABERTO',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "caixas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "caixa_movimentos" (
    "id" TEXT NOT NULL,
    "caixaId" TEXT NOT NULL,
    "tipo" "CaixaMovimentoTipo" NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "formaPagamento" "FormaPagamento",
    "descricao" TEXT,
    "vendaId" TEXT,
    "usuarioId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "caixa_movimentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vendas_condicionais" (
    "id" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "clienteId" TEXT NOT NULL,
    "vendedorId" TEXT,
    "dataSaida" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataVencimento" TIMESTAMP(3) NOT NULL,
    "dataFinalizacao" TIMESTAMP(3),
    "dataCancelamento" TIMESTAMP(3),
    "prazoDias" INTEGER NOT NULL,
    "status" "StatusVendaCondicional" NOT NULL DEFAULT 'ATIVA',
    "observacoes" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "vendas_condicionais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "venda_condicional_itens" (
    "id" TEXT NOT NULL,
    "condicionalId" TEXT NOT NULL,
    "varianteId" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "precoUnit" DECIMAL(10,2) NOT NULL,
    "subtotal" DECIMAL(10,2) NOT NULL,
    "statusFinal" "StatusItemCondicional",

    CONSTRAINT "venda_condicional_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notas_fiscais" (
    "id" TEXT NOT NULL,
    "numero" TEXT NOT NULL,
    "serie" TEXT NOT NULL,
    "chaveAcesso" TEXT,
    "valorTotal" DECIMAL(10,2) NOT NULL,
    "dataEmissao" TIMESTAMP(3) NOT NULL,
    "xml" TEXT,
    "pdf" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "notas_fiscais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contas_pagar" (
    "id" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "dataVencimento" TIMESTAMP(3) NOT NULL,
    "dataPagamento" TIMESTAMP(3),
    "status" "StatusConta" NOT NULL DEFAULT 'PENDENTE',
    "categoria" "CategoriaContaPagar" NOT NULL DEFAULT 'OUTRO',
    "fornecedorId" TEXT,
    "entradaId" TEXT,
    "observacoes" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "contas_pagar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contas_receber" (
    "id" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "dataVencimento" TIMESTAMP(3) NOT NULL,
    "dataRecebimento" TIMESTAMP(3),
    "status" "StatusConta" NOT NULL DEFAULT 'PENDENTE',
    "categoria" "CategoriaContaReceber" NOT NULL DEFAULT 'CLIENTE',
    "formaPagamento" "FormaPagamento",
    "clienteId" TEXT,
    "vendaId" TEXT,
    "observacoes" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "contas_receber_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimentacoes_caixa" (
    "id" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tipo" "TipoMovimentacaoCaixa" NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "descricao" TEXT NOT NULL,
    "categoria" TEXT NOT NULL,
    "referenciaId" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimentacoes_caixa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "entradas_mercadoria" (
    "id" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "fornecedorId" TEXT,
    "chaveAcesso" TEXT,
    "numeroNFe" TEXT,
    "serieNFe" INTEGER,
    "dataEmissao" TIMESTAMP(3),
    "cfop" TEXT,
    "naturezaOperacao" TEXT,
    "dataEntrada" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "valorFrete" DECIMAL(10,2),
    "valorSeguro" DECIMAL(10,2),
    "valorDespesas" DECIMAL(10,2),
    "valorDesconto" DECIMAL(10,2),
    "valorICMS" DECIMAL(10,2),
    "valorPIS" DECIMAL(10,2),
    "valorCOFINS" DECIMAL(10,2),
    "valorIPI" DECIMAL(10,2),
    "xmlOriginal" TEXT,
    "margemLucroPadrao" DECIMAL(5,2),
    "gerarContasPagar" BOOLEAN NOT NULL DEFAULT true,
    "observacao" TEXT,
    "tenantId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "entradas_mercadoria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "entrada_mercadoria_itens" (
    "id" TEXT NOT NULL,
    "entradaId" TEXT NOT NULL,
    "varianteId" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "precoUnitario" DECIMAL(10,2) NOT NULL,
    "precoCusto" DECIMAL(10,2),
    "custoFrete" DECIMAL(10,2),
    "custoDespesas" DECIMAL(10,2),
    "custoFinal" DECIMAL(10,2),
    "margemLucro" DECIMAL(5,2),
    "precoVendaSugerido" DECIMAL(10,2),
    "valorICMS" DECIMAL(10,2),
    "valorPIS" DECIMAL(10,2),
    "valorCOFINS" DECIMAL(10,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "entrada_mercadoria_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "configuracoes" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "nomeEmpresa" TEXT NOT NULL,
    "cnpj" TEXT,
    "telefone" TEXT,
    "email" TEXT,
    "endereco" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "cep" TEXT,
    "logoUrl" TEXT,
    "corPrimaria" TEXT NOT NULL DEFAULT '#3b82f6',
    "corSecundaria" TEXT NOT NULL DEFAULT '#8b5cf6',
    "emailNotificacoes" BOOLEAN NOT NULL DEFAULT true,
    "alertaEstoqueBaixo" BOOLEAN NOT NULL DEFAULT true,
    "certificadoA1" TEXT,
    "senhaCertificado" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "configuracoes_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_slug_key" ON "tenants"("slug");

-- CreateIndex
CREATE INDEX "tenants_slug_idx" ON "tenants"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_tenantId_idx" ON "users"("tenantId");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "categorias_tenantId_idx" ON "categorias"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "categorias_tenantId_slug_key" ON "categorias"("tenantId", "slug");

-- CreateIndex
CREATE INDEX "produtos_tenantId_idx" ON "produtos"("tenantId");

-- CreateIndex
CREATE INDEX "produtos_categoriaId_idx" ON "produtos"("categoriaId");

-- CreateIndex
CREATE INDEX "produtos_fornecedorId_idx" ON "produtos"("fornecedorId");

-- CreateIndex
CREATE INDEX "produtos_codigoInterno_idx" ON "produtos"("codigoInterno");

-- CreateIndex
CREATE INDEX "produtos_codigoFornecedor_idx" ON "produtos"("codigoFornecedor");

-- CreateIndex
CREATE UNIQUE INDEX "produto_variantes_codigoBarras_key" ON "produto_variantes"("codigoBarras");

-- CreateIndex
CREATE INDEX "produto_variantes_produtoId_idx" ON "produto_variantes"("produtoId");

-- CreateIndex
CREATE INDEX "produto_variantes_codigoBarras_idx" ON "produto_variantes"("codigoBarras");

-- CreateIndex
CREATE INDEX "movimentacoes_estoque_varianteId_idx" ON "movimentacoes_estoque"("varianteId");

-- CreateIndex
CREATE INDEX "movimentacoes_estoque_createdAt_idx" ON "movimentacoes_estoque"("createdAt");

-- CreateIndex
CREATE INDEX "clientes_tenantId_idx" ON "clientes"("tenantId");

-- CreateIndex
CREATE INDEX "clientes_cpf_idx" ON "clientes"("cpf");

-- CreateIndex
CREATE INDEX "clientes_telefone_idx" ON "clientes"("telefone");

-- CreateIndex
CREATE INDEX "fornecedores_tenantId_idx" ON "fornecedores"("tenantId");

-- CreateIndex
CREATE INDEX "fornecedores_cnpj_idx" ON "fornecedores"("cnpj");

-- CreateIndex
CREATE INDEX "funcionarios_tenantId_idx" ON "funcionarios"("tenantId");

-- CreateIndex
CREATE INDEX "funcionarios_cpf_idx" ON "funcionarios"("cpf");

-- CreateIndex
CREATE UNIQUE INDEX "vendas_origemCondicionalId_key" ON "vendas"("origemCondicionalId");

-- CreateIndex
CREATE INDEX "vendas_tenantId_idx" ON "vendas"("tenantId");

-- CreateIndex
CREATE INDEX "vendas_clienteId_idx" ON "vendas"("clienteId");

-- CreateIndex
CREATE INDEX "vendas_vendedorId_idx" ON "vendas"("vendedorId");

-- CreateIndex
CREATE INDEX "vendas_createdAt_idx" ON "vendas"("createdAt");

-- CreateIndex
CREATE INDEX "vendas_caixaId_idx" ON "vendas"("caixaId");

-- CreateIndex
CREATE UNIQUE INDEX "vendas_tenantId_numero_key" ON "vendas"("tenantId", "numero");

-- CreateIndex
CREATE INDEX "venda_itens_vendaId_idx" ON "venda_itens"("vendaId");

-- CreateIndex
CREATE INDEX "venda_itens_varianteId_idx" ON "venda_itens"("varianteId");

-- CreateIndex
CREATE INDEX "venda_pagamentos_vendaId_idx" ON "venda_pagamentos"("vendaId");

-- CreateIndex
CREATE INDEX "caixas_tenantId_status_idx" ON "caixas"("tenantId", "status");

-- CreateIndex
CREATE INDEX "caixas_dataAbertura_idx" ON "caixas"("dataAbertura");

-- CreateIndex
CREATE INDEX "caixa_movimentos_caixaId_idx" ON "caixa_movimentos"("caixaId");

-- CreateIndex
CREATE INDEX "caixa_movimentos_tipo_idx" ON "caixa_movimentos"("tipo");

-- CreateIndex
CREATE INDEX "caixa_movimentos_createdAt_idx" ON "caixa_movimentos"("createdAt");

-- CreateIndex
CREATE INDEX "vendas_condicionais_tenantId_idx" ON "vendas_condicionais"("tenantId");

-- CreateIndex
CREATE INDEX "vendas_condicionais_clienteId_idx" ON "vendas_condicionais"("clienteId");

-- CreateIndex
CREATE INDEX "vendas_condicionais_status_idx" ON "vendas_condicionais"("status");

-- CreateIndex
CREATE INDEX "vendas_condicionais_dataVencimento_idx" ON "vendas_condicionais"("dataVencimento");

-- CreateIndex
CREATE UNIQUE INDEX "vendas_condicionais_tenantId_numero_key" ON "vendas_condicionais"("tenantId", "numero");

-- CreateIndex
CREATE INDEX "venda_condicional_itens_condicionalId_idx" ON "venda_condicional_itens"("condicionalId");

-- CreateIndex
CREATE INDEX "venda_condicional_itens_varianteId_idx" ON "venda_condicional_itens"("varianteId");

-- CreateIndex
CREATE INDEX "notas_fiscais_tenantId_idx" ON "notas_fiscais"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "notas_fiscais_tenantId_numero_serie_key" ON "notas_fiscais"("tenantId", "numero", "serie");

-- CreateIndex
CREATE INDEX "contas_pagar_tenantId_idx" ON "contas_pagar"("tenantId");

-- CreateIndex
CREATE INDEX "contas_pagar_status_idx" ON "contas_pagar"("status");

-- CreateIndex
CREATE INDEX "contas_pagar_dataVencimento_idx" ON "contas_pagar"("dataVencimento");

-- CreateIndex
CREATE INDEX "contas_receber_tenantId_idx" ON "contas_receber"("tenantId");

-- CreateIndex
CREATE INDEX "contas_receber_status_idx" ON "contas_receber"("status");

-- CreateIndex
CREATE INDEX "contas_receber_dataVencimento_idx" ON "contas_receber"("dataVencimento");

-- CreateIndex
CREATE INDEX "movimentacoes_caixa_tenantId_idx" ON "movimentacoes_caixa"("tenantId");

-- CreateIndex
CREATE INDEX "movimentacoes_caixa_data_idx" ON "movimentacoes_caixa"("data");

-- CreateIndex
CREATE UNIQUE INDEX "entradas_mercadoria_chaveAcesso_key" ON "entradas_mercadoria"("chaveAcesso");

-- CreateIndex
CREATE INDEX "entradas_mercadoria_tenantId_idx" ON "entradas_mercadoria"("tenantId");

-- CreateIndex
CREATE INDEX "entradas_mercadoria_chaveAcesso_idx" ON "entradas_mercadoria"("chaveAcesso");

-- CreateIndex
CREATE INDEX "entradas_mercadoria_dataEntrada_idx" ON "entradas_mercadoria"("dataEntrada");

-- CreateIndex
CREATE UNIQUE INDEX "entradas_mercadoria_tenantId_numero_key" ON "entradas_mercadoria"("tenantId", "numero");

-- CreateIndex
CREATE INDEX "entrada_mercadoria_itens_entradaId_idx" ON "entrada_mercadoria_itens"("entradaId");

-- CreateIndex
CREATE INDEX "entrada_mercadoria_itens_varianteId_idx" ON "entrada_mercadoria_itens"("varianteId");

-- CreateIndex
CREATE UNIQUE INDEX "configuracoes_tenantId_key" ON "configuracoes"("tenantId");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categorias" ADD CONSTRAINT "categorias_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produtos" ADD CONSTRAINT "produtos_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produtos" ADD CONSTRAINT "produtos_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "categorias"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produtos" ADD CONSTRAINT "produtos_fornecedorId_fkey" FOREIGN KEY ("fornecedorId") REFERENCES "fornecedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produto_variantes" ADD CONSTRAINT "produto_variantes_produtoId_fkey" FOREIGN KEY ("produtoId") REFERENCES "produtos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimentacoes_estoque" ADD CONSTRAINT "movimentacoes_estoque_varianteId_fkey" FOREIGN KEY ("varianteId") REFERENCES "produto_variantes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clientes" ADD CONSTRAINT "clientes_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fornecedores" ADD CONSTRAINT "fornecedores_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "funcionarios" ADD CONSTRAINT "funcionarios_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "clientes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_vendedorId_fkey" FOREIGN KEY ("vendedorId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_caixaId_fkey" FOREIGN KEY ("caixaId") REFERENCES "caixas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_origemCondicionalId_fkey" FOREIGN KEY ("origemCondicionalId") REFERENCES "vendas_condicionais"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "venda_itens" ADD CONSTRAINT "venda_itens_vendaId_fkey" FOREIGN KEY ("vendaId") REFERENCES "vendas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "venda_itens" ADD CONSTRAINT "venda_itens_varianteId_fkey" FOREIGN KEY ("varianteId") REFERENCES "produto_variantes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "venda_pagamentos" ADD CONSTRAINT "venda_pagamentos_vendaId_fkey" FOREIGN KEY ("vendaId") REFERENCES "vendas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "caixas" ADD CONSTRAINT "caixas_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "caixas" ADD CONSTRAINT "caixas_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "caixa_movimentos" ADD CONSTRAINT "caixa_movimentos_caixaId_fkey" FOREIGN KEY ("caixaId") REFERENCES "caixas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "caixa_movimentos" ADD CONSTRAINT "caixa_movimentos_vendaId_fkey" FOREIGN KEY ("vendaId") REFERENCES "vendas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "caixa_movimentos" ADD CONSTRAINT "caixa_movimentos_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas_condicionais" ADD CONSTRAINT "vendas_condicionais_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vendas_condicionais" ADD CONSTRAINT "vendas_condicionais_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "clientes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "venda_condicional_itens" ADD CONSTRAINT "venda_condicional_itens_condicionalId_fkey" FOREIGN KEY ("condicionalId") REFERENCES "vendas_condicionais"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "venda_condicional_itens" ADD CONSTRAINT "venda_condicional_itens_varianteId_fkey" FOREIGN KEY ("varianteId") REFERENCES "produto_variantes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notas_fiscais" ADD CONSTRAINT "notas_fiscais_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contas_pagar" ADD CONSTRAINT "contas_pagar_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contas_pagar" ADD CONSTRAINT "contas_pagar_fornecedorId_fkey" FOREIGN KEY ("fornecedorId") REFERENCES "fornecedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contas_pagar" ADD CONSTRAINT "contas_pagar_entradaId_fkey" FOREIGN KEY ("entradaId") REFERENCES "entradas_mercadoria"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contas_receber" ADD CONSTRAINT "contas_receber_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contas_receber" ADD CONSTRAINT "contas_receber_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "clientes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contas_receber" ADD CONSTRAINT "contas_receber_vendaId_fkey" FOREIGN KEY ("vendaId") REFERENCES "vendas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimentacoes_caixa" ADD CONSTRAINT "movimentacoes_caixa_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "entradas_mercadoria" ADD CONSTRAINT "entradas_mercadoria_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "entradas_mercadoria" ADD CONSTRAINT "entradas_mercadoria_fornecedorId_fkey" FOREIGN KEY ("fornecedorId") REFERENCES "fornecedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "entrada_mercadoria_itens" ADD CONSTRAINT "entrada_mercadoria_itens_entradaId_fkey" FOREIGN KEY ("entradaId") REFERENCES "entradas_mercadoria"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "entrada_mercadoria_itens" ADD CONSTRAINT "entrada_mercadoria_itens_varianteId_fkey" FOREIGN KEY ("varianteId") REFERENCES "produto_variantes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "configuracoes" ADD CONSTRAINT "configuracoes_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

